@media print {
    #headpoints, .notPrint {
	display : none;
    }
    
}
h3.header {
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    width:600px;
}

body {
    padding-top : 50px;
}

#mainframe {
    border-radius: 50px 50px / 50px 50px;
    color: #222222;
    background-color : #E3E4FA;
    min-height : 450px;
    //opacity: 0.95;
    padding: 20;
    left:160;
    margin-left:50px;
    margin-right:20px;
}


#headpoints {
    //border : 1px solid gray;
    margin-left : 10px;
    margin-right : 10px;
    padding : 30 30 15 30;
}


.headerLink {
    cursor : pointer;
    font-weight : 600;
    margin : 10px;
    color : #0066cc;
}


#topPanel {
    position: fixed;
    top : 0px;
    left : 0px;
    background-color : #aaaaaa;
    width : 100%;
    text-align : center;
    padding-top : 10px;
    //z-index:1000;
}



div#toggleAuth img {
    margin-left : 10px;
    margin-right : 10px;
}

#toggleAuth {
    cursor : pointer;
    width : 100%;
    padding-top : 3px;
}

#toggleAuth:hover {
    background-color : #ccccdd;
}

.error {
    color : red;
}

.success {
    color : green;
}