@media print {
    #headpoints, .notPrint {
	display : none;
    }
    
}
body {
    padding-top : 50px;
}

#headpoints {
    //border : 1px solid gray;
    margin-left : 10px;
    margin-right : 10px;
    padding : 30 30 15 30;
}


.headerLink {
    cursor : pointer;
    font-weight : 600;
    margin : 10px;
    color : #0066cc;
}


#authPanel {
    position: fixed;
    top : 0px;
    left : 0px;
    background-color : #aaaaaa;
    width : 100%;
    text-align : center;
    padding-top : 10px;
    //z-index:1000;
}



div#toggleAuth img {
    margin-left : 10px;
    margin-right : 10px;
}

#toggleAuth {
    cursor : pointer;
    width : 100%;
    padding-top : 3px;
}

#toggleAuth:hover {
    background-color : #ccccdd;
}
